// * * * * COLOURS
$primary: maroon;
$secondary: aquamarine;
$accent: moccasin;
$black: #0C0A0A;

// * * * * FONTS
$fontSize: 2rem;
$lineHeight: 2rem;
$bodyFont: 'Open Sans', sans-serif;
// $headingFont: 'Chicle', cursive;
